#adb_settings {

	width:80%;
	text-align:center;
	float:left;
}
.adb_content {
	background:white;
	margin:20px;
	padding:30px;
	text-align:center;
}

#adb_settings table {
	margin:0 auto;
	text-align:left;
	    width: 100%;
}

#adb_settings td {
	padding:20px;
}

.side {
	float:left;
	width:20%;
}

.inner_side {
	text-align:center;
	padding:15px;
	margin-top:20px;
	margin-right:20px;
	background:white;
}

.il {
	width:290px;
}

.inner_side p {
	text-align:justify;
}